@import '../variables';

.features {
  display: flex;
	justify-content: space-between;
	gap: 5px;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 8px 40px 0 rgba(0, 38, 3, 0.08);
  background: $gray-scale-white;
	margin-bottom: 100px;
  .feature {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 306px;
    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 8px;
      .title {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.2;
        color: $gray-scale-gray-900;
      }
      .description {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        color: $gray-scale-gray-400;
      }
    }
  }
}
