@import '../variables';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  padding: 60px;
  background: $gray-scale-gray-50;
  border-radius: 10px;
  margin-bottom: 100px;
  .cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 24px;
      border-radius: 8px;
      width: 384px;
      height: 254px;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.01);
      background: $gray-scale-white;
      .review {
        display: flex;
        flex-direction: column;
        gap: 16px;
        .title {
          font-weight: 400;
          font-size: 15px;
          line-height: 1.5;
          color: $gray-scale-gray-700;
        }
      }
      .client {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .reviewer {
          display: flex;
          align-items: center;
          gap: 12px;
          .info {
            display: flex;
            flex-direction: column;
            align-items: start;
            .name {
              font-weight: 500;
              font-size: 16px;
              line-height: 1.5;
              text-align: center;
              color: $gray-scale-gray-900;
            }
            .description {
              font-weight: 400;
              font-size: 14px;
              line-height: 1.5;
              text-align: center;
              color: $gray-scale-gray-400;
            }
          }
        }
      }
    }
  }
}
