@import '../_variables.scss';

.saves {
  display: flex;
  align-items: center;
  gap: 5px;
  .cart {
    display: flex;
    gap: 12px;
    .cartInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .cartTitle {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.2;
        color: $gray-scale-gray-700;
      }
      .cartTotal {
        font-weight: 500;
        font-size: 14px;
        line-height: 1;
        color: $gray-scale-gray-900;
      }
    }
  }
  .devider {
    border: 1px solid $gray-scale-gray-200;
    width: 24px;
    height: 0px;
    transform: rotate(-90deg);
  }
}
